body
{
	margin: 0;
	background-color:  #33CCCC
} 

.text
{
	text-align: justify;
}
.yellow
{
	color: #fff51f;
}

li
{
	display: inline;
	padding-left: 5px;
}


.header
{
	width: 100%;
	height: 217px;
	background-color: #fc9cae;
	border: 1px solid black;
	float: left;
	position:relative;
}

.header1
{
	width: 30%;
	height: 200px;
	position: absolute; 
	
	left: 20px;
	float: left;
	
	margin: 0 auto;
	
}


.header2
{
	width: 30%;
	height: 100px;
	position: absolute; 
	top: 20px;
	left: 475px;
	float: left;
	
	text-align: center;
	color: #006363;
	margin: 0 auto;
}

.header3
{
	width: 20%;
	height: 50px;
	position: absolute; 
	top: 20px;
	right: 20px;
	float: right;
	
	margin: 0 auto;
}

.menu 
{
	
	color: #BF8F30;
	list-style: none;
	font-family: "Times New Roman", sans-serif;
	font-style: italic;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 14px;
}

.menu li a:hover
{
	color: green;
	
}

.main
{
	width: 80%;
	min-height: 800px;
	border: 1px solid black;
	float: left;
	position:relative;
	left: 10%;
	background-color:#7b7b7b;
}

.tov
{
	position:relative;
	width: 25%;
	margin-top: 15px;
	margin-left: 6.25%;
	background-color: #fff51f; 
	border: 1px solid black;
	float: left;
	
	
}

.footer
{
	position:relative;
	width:100%;
	height:50px;
	border: 1px solid black;
	float:left;
	background-color: #ba7fa2;
	
}

.prava
{
	position:absolute;
	width:30%;
	right: -200px;
	top: 10px;
}


.product-zag
{
	padding-left: 30px;
	color: black;
	font-size: 24px;
	font-weight: 400;
	background:  #eaeaea;
	}

.product-kr
{
	color="#707070;
	font-style: italic;
	font-size: 18px;
	line-height: 20px;
	text-align:justify;
}

.product-pod
{
	
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

.product-har
{
	color: #03002D;
	font-style: oblique;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	text-align: left;
	list-style-image: url(metka.png);
}


.har
{
	width: 100%;
	height: 200;
	float: left;
}

.har1
{
	width: 15%;
	height: 45px;
	float: left;
	border: 1px solid black;
	text-align: left;
}

.har2
{
	width: 16%;
	height: 45px;
	float: left;
	border: 1px solid black;
	text-align: center;
}



.borderimg
{
	border: 1px solid black;
}

.borderimg:hover
{
	border: 1px solid white;
}

.box1
{
	position: relative;
	left: 50px;
	top: 20px;
	width: 391px;
	height: 530px;
	float: left;
	
	
}

.box2
{
	height: 530px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
	
	text-align: left;
	
}


.block1 
{ 
	position: absolute;
    width: 30%; 
	height: 51px;
    background: #f8f8f8; 
    float: left;
	border: 1px splid black;
	right: 0px;
}

.container
{
	position:relative;
	width:100%;
	border: 1px solid black;
	float:left;
	top: 51px;
	margin-top: 10px;
	margin-bottom: 40px;
	
}


.buy
{
	position:relative;
	width: 15%;
	height: 50px;
	top: 20px;
	left: 0px;
	
	
	background-color: #eaeaea;
	text-align: center;
	line-height: 45px;
	
}

.buy:hover
{
	background-color: #33ff33;
}



