{% load static%}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF­8">
	<title>  Интернет магазин Kompik	 </title>
	<link rel="stylesheet" href="{% static 'geekshop/css/style.css' %}">
</head>

<body>
	
<div class="header"> 
		<div class="header1"> <img src="{% static 'geekshop\imgs\macbook.png' %}" width="200px"> 
		</div>
		
		<div class="header2"> <h1>Интернет магазин "Kompik" </h1>
		</div>
		
		<div class="header3"> 
			<ul class="menu">
				<li> <a href="{% url 'mainapp:main' %}"> Главная </a> </li>
				<li> <a href="{% url 'products:list' %}"> Товары </a> </li>
				<li> <a href="{% url 'mainapp:contacts' %}"> Контакты  </a> </li>
			</ul>
		</div>
	</div>
<div>
    {% block page_content %}
	{% endblock %}

	{% block page_js %}
	{% endblock %}
</div>





</body>



<footer>
<div class="footer">
	<div class="prava">
		Все права защищены. &copy;  
	</div>
</div>
</footer>



</html>