<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF­8">
	<title>  ASUS GL552VX	 </title>
	<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="header"> 
		<div class="header1"> <img src="macbook.png" width="200px"> 
		</div>
		
		<div class="header2"> <h1>Интернет магазин "Kompik" </h1>
		</div>
		
		<div class="header3"> 
			<ul class="menu">
				<li> <a href="index.html"> Главная </a> </li>
				<li> <a href="katalog.html"> Каталог </a> </li>
				<li> <a href="contacts.html"> Контакты  </a> </li>
			</ul>
		</div>
	</div>
	
<div class="main">		
 <p>
	<h1 align="center"> Ноутбук ASUS GL552VX-DM365T (серый) </h1>
 </p>
 <div class="box1">
	<a href="laptop2.jpg" target="_blank">  <img class="borderimg" src="laptop2.jpg" alt="ASUS GL552VX"  height="400" width="300"  > </a>
 </div>
 
 <div class="box2">
 <p>
    <h3 class="product-zag"> О товаре </h3>
 </p>
 
	<p class="product-kr">
		Максимальная скорость, оригинальный дизайн, великолепное изображение и возможность
		апгрейда конфигурации – встречайте новый геймерский ноутбук ASUS ROG GL552.
	</p>
	
	<a href="#" class="buy">
	<div class="buy">
		Купить
	</div>
 </a>
</div>

 <hr>
 <p>
    <h3 class="product-zag"> Краткие характеристики </h3>
 </p>
 
<p>

 <div class="har"> 
	<ul class="product-har"> 
		<div class="har1">
			<li>ID:</li>
		</div>
	<div class="har2">
		3722615
	</div>
	
</div>

 <div class="har"> 
	<ul class="product-har"> 
		<div class="har1">
			<li>Диагональ дисплея (дюйм):</li>
		</div>
	<div class="har2">
		15.6 
	</div>
	
</div>

 <div class="har"> 
	<ul class="product-har"> 
		<div class="har1">
			<li>Процессор:</li>
		</div>
	<div class="har2">
		Intel® Core™ i5-6300HQ 
	</div>
	
</div>

<div class="har"> 
	<ul class="product-har"> 
		<div class="har1">
			<li>Оперативная память (Мб):</li>
		</div>
	<div class="har2">
		12288  
	</div>
	
</div>


<div class="har"> 
	<ul class="product-har"> 
		<div class="har1">
			<li>Емкость HDD (Гб):</li>
		</div>
	<div class="har2">
		1000  
	</div>
	
</div>


<div class="har"> 
	<ul class="product-har"> 
		<div class="har1">
			<li>Видеокарта:</li>
		</div>
	<div class="har2">
		NVIDIA GeForce GTX 950M 
	</div>
	
</div>


<div class="har"> 
	<ul class="product-har"> 
		<div class="har1">
			<li>Операционная система:</li>
		</div>
	<div class="har2">
		Windows 10 x64
	</div>
	
</div>
</p>   

 <hr>  
 <p>
    <h3 class="product-zag"> Подробное описание товара </h3>
 </p>
   
 <p> <ul class="product-pod">
	<li> <b>Высокая производительность.</b> Ноутбук ASUS GL552 – это новейшая модель в геймерской серии
	Republic of Gamers. В ее компактном корпусе скрывается мощная конфигурация, включающая операционную
	систему Windows 10, процессор Intel Core и дискретную видеокарту NVIDIA GeForce.</p> </li>
<li> <p> <b> Металлический корпус (опционально).</b> Ноутбук GL552 отличается от других моделей оригинальной эстетикой, 
выполненной в агрессивном, геймерском стиле ROG. Он предлагается в двух вариантах корпуса: пластиковом 
и металлическом.</p> </li>
<li> <p> <b>Эргономичная клавиатура.</b> Клавиатура ноутбуков серии GL552 оптимизирована специально для геймеров, поэтому
 клавиши со стрелками расположены отдельно от остальных. Прочная и эргономичная, эта клавиатура оснащается
 подсветкой красного цвета, которая позволит с комфортом играть даже ночью.</p> </li>
 <li> <p> <b> Разъем USB 3.1 Type-C. </b> GL552 оснащается интерфейсом USB 3.1 в виде удобного обратимого разъема Type-C.</p> </li>
<li> <p> <b> Пользовательская память.</b> Для хранения файлов в GL552 имеется жесткий диск емкостью до 2 ТБ. Кроме того,
 в эту модель может устанавливаться опциональный твердотельный накопитель с интерфейсом M.2 и емкостью до 256 ГБ.</p> </li>
<li> <p> <b> Возможность апгрейда.</b> GL552 предоставляет удобный доступ к своим компонентам, позволяя легко заменить 
накопители или добавить системной памяти.</p> </li>
<li> <p> <b> Игра без лагов.</b> Функция GameFirst III позволяет установить приоритет использования интернет-канала для
 разных приложений. Получив максимальный приоритет, онлайн-игры будут работать максимально быстро, без раздражающих лагов, и другие онлайн-приложения, имеющие низкий приоритет, не будут им в этом мешать.</p> </li>
<li> <p> <b> Матовый дисплей формата Full HD.</b> Ноутбук GL552 оснащается 15,6-дюймовым IPS-дисплеем формата Full HD, чье матовое покрытие минимизирует раздражающие блики, а широкие углы обзора (178°) являются залогом точной цветопередачи.</p> </li>
<li> <p> <b> Аудиотехнология SonicMaster.</b> Реализованная в модели GL552 аудиосистема с эксклюзивной технологией ASUS SonicMaster выдает великолепный звук, а программное обеспечение ROG AudioWizard позволяет быстро и легко подстраивать оттенки 
звучания под конкретную игру, активируя один из пяти предустановленных режимов.</p> </li>
</ul>
</div>
</div>

 <hr>
</body>

<footer>
<div class="footer">
	<div class="prava">
		Все права защищены. &copy;  
	</div>
</div>
</footer>



</html>