{% extends 'geekshop/master.html' %}
{% load static%}	
{% block page_content %}	
	<div class="main">
		<h2 class="yellow" align="middle"> Каталог </h2>
		
		<h3 class="text">  {{ katalog_text}} </a>  </h3>
		
		<div class="tov"> 
			<p> 
			<a href="laptop1.jpg" target="_blank"> <img src="{% static 'geekshop\imgs\laptop3.jpg' %}" alt="Lenovo Z50-75" height="180" width="160"  > </a>
			</p> 
 
			<p> 
			<a href="1.html"> Lenovo Z50-75 </a> 
			</p>
		</div>
		
		
		<div class="tov"> 
			<p> 
				<a href="{% static 'geekshop\imgs\laptop3.jpg' %}" target="_blank"> <img src="{% static 'geekshop\imgs\laptop3.jpg' %}" alt="ASUS GL552VX" height="180" width="160"  > </a>
			</p> 
			
			<p>
				<a href="2.html"> ASUS GL552VX  </a> 
			</p>
		</div>
		
		
		<div class="tov"> 
			<p> 
				<a href="laptop3.jpg" target="_blank"> <img src="{% static 'geekshop\imgs\laptop3.jpg' %}" alt="HP 15-bw060ur" height="180" width="160"  > </a>
			</p> 
			
			<p>
				<a href="2.html"> HP 15-bw060ur </a> 
			</p>
		</div>
		
		
		<div class="tov"> 
			<p> 
				<a href="laptop4.jpg" target="_blank"> <img src="{% static 'geekshop\imgs\laptop3.jpg' %}" alt="MSI GE62VR 7RF-496 Apache Pro" height="180" width="160"  > </a>
			</p> 
			
			<p>
				<a href="2.html"> MSI GE62VR 7RF-496 Apache Pro  </a> 
			</p>
		</div>
		
	</div>
	
 {% endblock %}	




