{% extends 'geekshop/master.html' %}

{% load static %}

{% block page_content %}

 <div class = "main">
	<h1 class="yellow" align="middle">
		{{ inst.name }}
	</h1>

	 <span>
		 {% if inst.image %}
		<span class = "product_item-name">
			<img class="borderimg" src= {{ inst.image.url }} alt="this is image"  height="400" width="300"  >
		</span>
		{% else %}
		<img src = 	"{% static 'products/imgs/empty.png' %}"  height="400" width="300" >
		{% endif %}




	</span>

	<span>
		<p> {{ inst.description}} </p>
	</span>
	
	<span>
		<p> {{ inst.cost}}
	</span>

	 <a class="buy">
	<div class="buy">
		Купить
	</div>
 </a>

 </div>
 



 {% endblock %}
</body>





</html>