{% extends 'geekshop/master.html' %}


{% block page_content %}
 <div class="main">
	<h2 class="yellow" align="middle"> Новинки и спецпредложения </h2>

 </p> 
 
  <div class = "products">
	{% for object in object_list %}
	<div class = "product_item">
		<span class = "product_item-name">
			{{ object.name}}
		</span>
		<span class = "product_item-name">
			{{ object.description}}
		</span>
		{% if object.cost %}
			
		{% endif%}
		<span class = "product_item-name">
			{{ object.cost}}
		</span>
		<a href = "{% url 'detail' pk=object.id %}">
			 Ссылка на {{ object.name }}
		</a>
	</div>
	{% endfor %}
 </div>
 
</div>

 <hr>
 

 

 

 {% endblock %}
</body>





</html>