<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF­8">
	<title>  Lenovo Z50-75	 </title>
	<link rel="stylesheet" href="/static/style.css">
</head>

<body>
 <div class="header"> 
		<div class="header1"> <img src="macbook.png" width="200px"> 
		</div>
		
		<div class="header2"> <h1>Интернет магазин "Kompik" </h1>
		</div>
		
		<div class="header3"> 
			<ul class="menu">
				<li> <a href="index.html"> Главная </a> </li>
				<li> <a href="katalog.html"> Каталог </a> </li>
				<li> <a href="contacts.html"> Контакты  </a> </li>
			</ul>
		</div>
	</div>
	
<div class="main">	
  <p>
	<h1 class="yellow" align="center"> Ноутбук Lenovo Z50-75 80EC00NARK (черный) </h1>
 </p>
 
 
 <div class="box1">
 
 <a href="laptop1.jpg" target="_blank">  <img class="borderimg" src="laptop1.jpg" alt="Lenovo Z50-75"  height="400" width="300"  > </a>
</div>
 
<div class="box2">
 <p>
    <h3 class="product-zag"> О товаре </h3>
 </p>
 
 <p class="product-kr">
 Ноутбук Lenovo Z50-75 – высокопроизводительное устройство, которое будет полезно как для 
 любителей качественного мультимедиа, так и для профессиональных дизайнеров, часто занимающихся 
 обработкой трехмерной графики. Он снабжен современным четырехъядерным процессором AMD и дискретным
 графическим адаптером, а также поддерживает расширение оперативной памяти до 16 Гб.
 </p>
 
 <a href="#" class="buy">
	<div class="buy">
		Купить
	</div>
 </a>
</div>
 
 
 <hr>
 <p style="clear: both">
    <h3 class="product-zag"> Краткие характеристики </h3>
 </p>


 <div class="har"> 
	<ul class="product-har"> 
		<div class="har1">
			<li>ID:</li>
		</div>
	<div class="har2">
		3399452 
	</div>
	
</div>

 <div class="har"> 
	<ul class="product-har"> 
		<div class="har1">
			<li>Диагональ дисплея (дюйм):</li>
		</div>
	<div class="har2">
		15.6 
	</div>
	
</div>

 <div class="har"> 
	<ul class="product-har"> 
		<div class="har1">
			<li>Процессор:</li>
		</div>
	<div class="har2">
		AMD FX-7500  
	</div>
	
</div>

<div class="har"> 
	<ul class="product-har"> 
		<div class="har1">
			<li>Оперативная память (Мб):</li>
		</div>
	<div class="har2">
		8192  
	</div>
	
</div>


<div class="har"> 
	<ul class="product-har"> 
		<div class="har1">
			<li>Емкость HDD (Гб):</li>
		</div>
	<div class="har2">
		1000  
	</div>
	
</div>


<div class="har"> 
	<ul class="product-har"> 
		<div class="har1">
			<li>Видеокарта:</li>
		</div>
	<div class="har2">
		AMD Radeon R7 M260DX
	</div>
	
</div>


<div class="har"> 
	<ul class="product-har"> 
		<div class="har1">
			<li>Операционная система:</li>
		</div>
	<div class="har2">
		Windows 10 Home 
	</div>
	
</div>


 <hr>  
 <p>
    <h3 class="product-zag"> Подробное описание товара </h3>
 </p>
   
 <p> <ul class="product-pod">
	<li> <b>Высокое качество изображения.</b> Встроенный экран создан на основе TFT-матрицы с большим разрешением. 
	Он делает картинку максимально реалистичной за счет большой контрастности и расширенной цветопередачи.
	Кроме того, к ноутбуку можно подключать внешние мониторы или проекторы с помощью мультимедийных интерфейсов D-SUB и HDMI.</p> </li>
	<li> <p> <b>Неограниченное общение.</b> В комплектацию устройства входит все необходимое для бесед в специальных мессенджерах или для 
	видеоконференций – в том числе HD-камера, мощные стереодинамики и высокочувствительный цифровой микрофон. </p> </li>
	<li> <p> <b>Полный набор коммуникаций.</b> Беспроводные адаптеры Wi-Fi и Bluetooth значительно облегчают подключение к сети и 
	упрощают синхронизацию с мобильными девайсами. Высокоскоростной порт USB 3.0 обеспечивает мгновенный обмен информацией с внешними накопителями.</p> </li>
</ul>
</div>
</div>


 <hr>
</body>

<footer>
<div class="footer">
	<div class="prava">
		Все права защищены. &copy;  
	</div>
</div>
</footer>



</html>