<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF­8">
	<title>  Контакты	 </title>
	<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="header"> 
		<div class="header1"> <img src="macbook.png" width="200px"> 
		</div>
		
		<div class="header2"> <h1>Интернет магазин "Kompik" </h1>
		</div>
		
		<div class="header3"> 
			<ul class="menu">
				<li> <a href="index.html"> Главная </a> </li>
				<li> <a href="katalog.html"> Каталог </a> </li>
				<li> <a href="contacts.html"> Контакты  </a> </li>
			</ul>
		</div>
	</div>
 
 
 <div class="main">
 <p>
	<form action="URL">
	<fieldset>
		<legend>Напишите нам</legend>
			<p><input type="text"  placeholder= "Ваше имя"/> </p>
			<p><input class="email"  placeholder= "Ваш email"/> </p>
			<p><input type="text"  placeholder= "Тема"/> </p>
			<p> <textarea cols="30" rows="5"> Сообщение </textarea> </p>
			<p> <input type="button" value="Отправить"></p>
	</fieldset>
	</form>
	</p>
 
 
 <p>
	<h2> Адрес </h2>
</p>

<p>
	<b> Телефон:</b> +79992281488
</p>
 
 <p>
	<b> Адрес: </b> г.Москва ул.Южнопортовая д.3с2
</p>
 
 <p>
	<b>  Email: </b> kompik_shop@mail.ru
</p>
 
 <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5b965d8f598e9324311ab6ebc5d547e23aa76126ae6f4ace13928f6013754655&amp;width=651&amp;height=414&amp;lang=ru_RU&amp;scroll=true"></script>
 
 </div>
 </body>
 
 <hr>
 <footer>
<div class="footer">
	<div class="prava">
		Все права защищены. &copy;  
	</div>
</div>
</footer>
 
 </html>
 
 