<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF­8">
	<title>  Интернет магазин Kompik	 </title>
	<link rel="stylesheet" href="/static/style.css">
</head>

<body>
	
<div class="header"> 
		<div class="header1"> <img src="macbook.png" width="200px"> 
		</div>
		
		<div class="header2"> <h1>Интернет магазин "Kompik" </h1>
		</div>
		
		<div class="header3"> 
			<ul class="menu">
				<li> <a href="index.html"> Главная </a> </li>
				<li> <a href="katalog.html"> Каталог </a> </li>
				<li> <a href="contacts.html"> Контакты  </a> </li>
			</ul>
		</div>
	</div>


 
 
 <div class="main">
	<h2 class="yellow" align="middle"> Новинки и спецпредложения </h2>
 </p>
 <p> 
	<h3 class="text"> Самые последние модели, <br> поступившие в продажу совсем недавно, </br> 
	вы можете посмотреть в разделе <a href="katalog.html"> Каталог </a>  </h3>
 </p> 
</div>
</div>
 <hr>
 
</body>



<footer>
<div class="footer">
	<div class="prava">
		Все права защищены. &copy;  
	</div>
</div>
</footer>



</html>