<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF­8">
	<title>  Интернет магазин Kompik	 </title>
	<link rel="stylesheet" href="/static/style.css">
</head>

<body>
	
	<div class="header"> 
		<div class="header1"> <img src="macbook.png" width="200px"> 
		</div>
		
		<div class="header2"> <h1>Интернет магазин "Kompik" </h1>
		</div>
		
		<div class="header3"> 
			<ul class="menu">
				<li> <a href="index.html"> Главная </a> </li>
				<li> <a href="katalog.html"> Каталог </a> </li>
				<li> <a href="contacts.html"> Контакты  </a> </li>
			</ul>
		</div>
	</div>
	
	
	<div class="main">
		<h2 class="yellow" align="middle"> Каталог </h2>
		<div class="tov"> 
			<p> 
			<a href="laptop1.jpg" target="_blank"> <img src="laptop1.jpg" alt="Lenovo Z50-75" height="180" width="160"  > </a>
			</p> 
 
			<p> 
			<a href="1.html"> Lenovo Z50-75 </a> 
			</p>
		</div>
		
		
		<div class="tov"> 
			<p> 
				<a href="laptop2.jpg" target="_blank"> <img src="laptop2.jpg" alt="ASUS GL552VX" height="180" width="160"  > </a>
			</p> 
			
			<p>
				<a href="2.html"> ASUS GL552VX  </a> 
			</p>
		</div>
		
		
		<div class="tov"> 
			<p> 
				<a href="laptop3.jpg" target="_blank"> <img src="laptop3.jpg" alt="HP 15-bw060ur" height="180" width="160"  > </a>
			</p> 
			
			<p>
				<a href="2.html"> HP 15-bw060ur </a> 
			</p>
		</div>
		
		
		<div class="tov"> 
			<p> 
				<a href="laptop4.jpg" target="_blank"> <img src="laptop4.jpg" alt="MSI GE62VR 7RF-496 Apache Pro" height="180" width="160"  > </a>
			</p> 
			
			<p>
				<a href="2.html"> MSI GE62VR 7RF-496 Apache Pro  </a> 
			</p>
		</div>
		
	</div>
	
	

</body>



<footer>
<div class="footer">
	<div class="prava">
		Все права защищены. &copy;  
	</div>
</div>
</footer>



</html>